body {
    margin: 0;
    padding: 0;
}

 #field {
      position: relative;
      width: 1000px;
      height: 1000px;
      border: 1px solid black;
    }
    
    .point {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
    }

